{% extends "base.html" %}

{% block content %}

    <div class="container search-results">
        <div class="alert alert-info">
            <p>
                This project has been developed as a teaching exercise for the course <em>Information Systems</em> at
                the <em>Hochschule für Technik und Wirtschaft Berlin</em> (University of Applied Sciences) in the
                fall 2012.
            </p>
            <p>
                We do not have the rights of any pictures or text that is shown on this page nor do we have the
                permission to use them.
            </p>
        </div>
    </div>

{% endblock %}