<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>{% block title %}App Store Crawler{% endblock %}</title>

    <link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">App Store Crawler</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li {% if not page %}class="active"{% endif %}><a href="/">Search</a></li>
                        <li {% if page == "about" %}class="active"{% endif %}><a href="/about">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% block content %}
        <div class="container">
            <h1>Welcome to the App Store Crawler!</h1>
        </div>
    {% endblock %}

    <script src="/static/lib/jquery/jquery-1.9.1.js"></script>
    <script src="/static/lib/jquery.raty/jquery.raty.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.js"></script>

    <!-- Initialize JS Plugins -->
    <script src="/static/js/main.js"></script>
</body>
</html>
